<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gamer</title>
</head>
<body>
<br>

<!-- BOOTSTRAP -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>SELECT A CONSOLE:</h1>
      <div class="console-types">
        <select> 
          <option value="ALL">ALL</option>
          <option value="N64">N64</option>
          <option value="SNES">SNES</option>
          <option value="NES">NES</option>
        </select>
      </div>
      <br><br><br>
      <input type="text" class="game-search" placeholder="Type in a title...">
      <br><br>
      <div class="new-search-btn">
      <button class="search">Search</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="show-game-info">
      <h1>GAME INFO:</h1>
        <div class="specific-game-image"></div>
          <div class="specific-game-info"></div>
      </div>
    </div>
  </div>
</div>
<!-- BOOTSTRAP -->
<br><br>

<div class="selected-games">
  <ul>
    
  </ul>
</div>


</body>
</html>